
/* .user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: #111;
    padding: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom .5s;
} */


 .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: none; 
    z-index: 10;
}

/* .location-dialog {
    z-index: 20; 
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background: white;
}

.location-dialog[open] {
    display: block;
}  */